* {
	box-sizing: border-box;
}
html {
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	font-weight: 300;
}

body {
	background-color: #F7F8F8;
	padding-bottom: 5rem;
	font-size: 1.6rem;
	overflow-x: hidden;
	max-width: 100%;
}
.container {
	background-color: #ffffff;
}
.section-head {
	background-color: #1D3B53;
	color: #ffffff;
	height: 50rem;
}
.header {
	display: inline-block;
	max-width: 100%;
}
.row {
	width: 100%;
	margin:0;
}
.header-title {
	text-align: right;
	padding-right: 1rem;
	width: 100%;
}
.header-text {
	text-align: left;
	width:100%;
	padding-left: 7rem; 
}
.header-button{
	padding-left: 7rem;
}
.show {
	display: block;
}
.red-punctuation {
	color: #FF102D;
}
.button-round {
	border: none;
	height: 3rem;
	width: 80%;
	border-radius: 4rem;
	color: #ffffff;
	background-color: #FF102D;
	cursor: pointer;
}
.header-image-box {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: -25rem
}
.header-image {
	width: 60%;
	height: 40rem;
	margin: 5rem auto 0 auto;

}
.button-border {
	z-index: 1;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	position: absolute;
	width: 9rem;
	height: 9rem;
	border-radius: 50%;
	margin-left: -25rem;
	margin-top: 6rem;
}
.play {
	height: 3rem;
	width:0;
	margin: 1.5rem auto 0 4.5rem;
	border-top: 3rem solid transparent;
	border-left: 5rem solid #000000;
	border-right: 3rem solid transparent;
	border-bottom: 3rem solid transparent;
}
.section-product-info {
	margin-top: 2.5%;
}
.link {
	font-size: 1.5rem;
}
.icon-link:hover {
	color: #FF102D;
}
.icon-link {
	text-decoration: none;
	color: #000000;
}
i {
	position: absolute;
}
.link-text {
	margin-left: 4rem;
}
.section-product-info-button {
	margin-top: 10rem;
}
.product-info-image {
	margin-top: 15%;
	width: 100%;
	height: 65%;
}
.product-info-text2 {
	text-align: center;
	margin-bottom: 2rem;
}
.section-testimonial {
	margin-top: 7%;
	background-color: #F7F8F8;
}
.section-testimonial-image {
	margin-left: 1rem;
}
.testimonial-row {
	max-height: 30rem;
}
.testimonial-image {
	margin: auto 0;
	max-width: 100%;
}
.testimonial-text-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	height: auto;
	padding: 15% 15%;
	font-size: 1.05rem;
}
.section-form {
	background-color: #B9E6FF;
	margin-top: 1%;
}
form{
    width: 100%;
}
.form-text {
	padding-right: 2rem;
	text-align: right;
}
.form-entry {
	display: flex;
	justify-content: center;
	margin-left: .2rem;
	padding-top: 2rem;
    width: 100%;
}
.row-name{
    width: 100%;
}
.name {
    margin-left: -.65rem;
    width: 100%;
}
.name-firstname {
    margin-bottom: -4rem;
    width: 50%;
}
.name-lastname{
	margin-left: 50%;
}
.input-firstname{
    width: 90%;
}
.input-lastname{
	width: 100%;
}
.form-input {
	background-color: #B9E6FF;
	border: 0;
	border-bottom: 1px solid #000000;
	height: 2rem;
    margin-bottom: 2rem;
}
.long-form {
	width: 100%;
}
.submit-button {
	width: 5rem;
	margin-left: 70%;
}
.footer {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 30px;
	background-color: #F7F8F8;
	text-align: center;
}
.footer-text {
	color: #FF102D;
}
.footer-content {
	margin-left: 2rem;
	text-align: left;
}
h3 {
	margin-left: 37px;
	/* aligns the headers in the footer row */
}
li {
	list-style: none;
}
.logo-icon {
	margin-top: 10px;
}
.twitter-icon {
	margin: 0 25px;
}
.linkedin-icon {
	margin: 0 50px;
}

.bottom-break {
	height: 5px;
}
.ul li{
	display: inline;	
}

/*-- nav --*/
.c-nav{
	width: 100%;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	background-color: #1D3B53;
	z-index: 2;
	color: #ffffff;
}
.c-nav__inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	height: 6rem;
	padding: 1rem 2rem;
}
.c-nav .ul li:not(:first-of-type){
	margin-left: 2rem;
}
.c-nav .ul li:not(:last-of-type){
	margin-right: 2rem;
}

/*-- button --*/
.button{
	padding: 1rem 3rem;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	transition: all 200ms ease-in-out;
	cursor: pointer;
}

.button--round{
	border: 2px solid #ffffff;
	background: none;
	color: #ffffff;
	border-radius: 5rem;
}

.button--round:hover{
	background-color: rgba(255,255,255,.3)
}
.c-nav__burger{
	display: none;
}
/* -- Dropdown -- */
.c-nav__dropdown{
	cursor: pointer;
	border: none;
	width: 10rem;
	font-size: 1.6rem;
	color:#ffffff;
	background: transparent;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
}

option{
	color: #000000;
}

@media (max-width: 992px){
	body{
		font-size:2.5rem;
	}
	.c-nav__burger{
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		border: 1px solid #ffffff;
		background-color: #1D3B53;
		cursor: pointer; 
		top: 2rem;
		right: 2rem;
		width: 4rem;
		height: 4rem;
	}
	.c-nav__inner{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		height: 100vh;
		width: 50vh;	
		flex-direction: column;	
		background-color: #1D3B53;
		align-items: flex-start;
		border-left: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		transform: translateX(120%);
		transition: all 200ms ease-in-out;
	}
	.c-nav__inner--active{
		transform: translateX(0);
	}
	.c-nav .ul{
		padding: 0;
	}
	.c-nav .ul li{
		display: block;
		width: 100%;
		margin: 0 0 1rem 0 !important;
		text-align: left;
		padding-left: 2rem;		
	}
	.header{
		width:100%;
	}
	.header-button{
		margin: 0 auto;
	}
	.row{
		display: flex;
		justify-content: center;
		flex-direction: column;
		width:100%;
	}
	.section-head{
		height: 120rem;
	}
	.header-button{
		padding: 0;
	}
	.button-round{
		padding: 1rem;
		width: 15rem;
	}
	.button-border{
		display: flex;
		justify-content:left;
		margin-top: 8rem;
		margin-left: -20rem;
	}
	.header-title{
		padding: 0;
		width: 100%;
		text-align: center;
	}
	.header-text{
		padding: 0;
		width: 100%;
	}
	.col-sm-5{
		margin: 0 auto;
	}
	.col-sm-6{
		margin: 0 auto;
	}
	.col-sm-7{
		margin: 0 auto;
	}
	.col-sm-8{
		margin: 0 auto;
	}	
}